/* Cloud9 Main CSS */

/*
  1. GLOBAL STYLES
  2. <HOME/>
  3. <HEADER/>
  4. <ABOUT/>
  5. <DOWEDO/>

*/

/* GLOBAL STYLES */
@font-face {
  font-family : 'GillSans';
  src         : url('../fonts/GillSans.ttc');
}

@font-face {
  font-family : 'Journal';
  src         : url('../fonts/journal.ttf');
}

@font-face {
  font-family : 'LeagueSpartan';
  src         : url('../fonts/LeagueSpartan-Bold.otf');
}

@font-face {
  font-family : 'MyriadPro';
  src         : url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family : 'NexaRustSans';
  src         : url('../fonts/NexaRustSans-Black.otf');
}

@font-face {
  font-family  : 'Palo Alto';
  src          : url('../fonts/Palo_Alto_Regular.ttf');
}

@font-face {
  font-family : 'Serifa Comica';
  src         : url('../fonts/Serifa_Comica.ttf');
}

html, body {
  position : relative;
  width    : 100%;
  height   : 100%;
}

body {
  overflow-x  : hidden;
}

*, input:focus,
textarea:focus {
  outline : 0;
}

/* section {
  margin: 100px 0;
} */

/* header { 
  pointer-events: none;
} */

img {
  max-width: 100%;
  height: auto;
}

.wrap-reverse {
  flex-flow: wrap-reverse;
}

.bg-white {
  background-color: #fff;
}

.person .color-black {
  color : #000;
}


.mt-100 {
  margin-top  : 100px;
}

.mar-top100 {
  margin-top: 100px;
}

.mar-bot100 {
  margin-bottom: 100px;
}

.text-red {
  color : #f00;
}

.light-cloud {
  background-repeat : no-repeat;
  background-image  : url('../img/light-cloud.jpg');
  background-size   : cover;
}
.whoback {
  background-repeat : no-repeat;
  background-image  : url('../img/who.jpg');
  background-size   : cover;
}

.about-background{
  background-repeat : no-repeat;
  background-image  : url('../img/background nubes.jpg');
  background-size   : cover;
}

.bg-big-cloud {
  background-image: url('../img/sky-blue.jpg');
}

.space-btw {
  justify-content : space-between;
}

.top20 {
  top : 20px;
}

.pos-fixed {
  position  : fixed;
  padding   : 0 20px;
  z-index   : 999;
  width     : 100%;
}

.visible {
  visibility: visible;
}

.independent-element {
  position: relative;
}

.top-minus-100 {
  top : -100px;
}

.top250 {
  top : 250px;
}

.top270 {
  top : 270px;
}

.top300 {
  top : 300px;
}

.mleft-16per {
  margin-left : 16%;
}

.mleft-20per {
  margin-left : 20%;
}

.mleft-190 {
  margin-left : 90px;
}

.maxw-100 {
  max-width : 100px;
}

.maxw-55 {
  max-width : 55px;
}

.maxw-75 {
  max-width : 75px;
}

.maxw-80 {
  max-width : 80px;
}

.maxw-160 {
  max-width : 160px;
}

.maxw-500 {
  max-width : 500px;
}

.maxw-550 {
  max-width : 600px;
}

.row-flex {
  flex-flow : row wrap;
  display   : -webkit-flex;
  display   : flex;
  display   : -ms-flex;
  display   : -o-flex;
}

.height480 {
  height  : 480px;
}

.height1336 {
  height  : 1336px;
}

.section-description {
  font-family : 'GillSans'
}

.not-active {
  opacity: 0.5;
}

.invisible {
  opacity : 0;
}

.preloader {
  -webkit-transition : all 2s ease;
  background-color   : rgba(255, 255, 255, 1);
  -moz-transition    : all 2s ease;
  transition         : all 2s ease;
  position           : fixed;
  z-index            : 999;
  height             : 100%;
  width              : 100%;
  top                : 0;
  left               : 0;
}

.preloader::after {
  background-position : center;
  background-image    : url('../img/turtle-preloader1.gif');
  background-size     : cover;
  position            : relative;
  height              : 200px;
  display             : block;
  content             : '';
  margin              : auto;
  width               : 200px;
  top                 : 30%;
}

.slider-bg-img {
  background-position : 5%;
  background-repeat   : no-repeat;
  background-size     : cover;
  height              : 800px;


 
}

.slide1 {
  background-image  : url("../img/team-slide copy.png");
}

.slide2 {
  background-image  : url("../img/wood-bg.png");
}

.slide3 {
  background-image  : url("../img/computer-bg.png");

}

.slide4 {
  background-image  : url("../img/blue-bg.png");
}

.brand-blue {
  color : #5dadd3;
}

.brand-blue-light {
  background-color  : rgba(73, 173, 211, .5);
}

.fixed-right {
  position  : fixed;
  z-index   : 99;
  right     : 0;
  top       : 0;
}

.img-center {
  max-width : 300px;
  position  : relative;
  display   : block;
  margin    : auto;
  top       : 70px;
}

.bg-img-specs {
  background-repeat : no-repeat;
  background-size   : cover;
  /* height            : 680px; */
}

/* <HEADER/> */
.navbar-header ul {
  list-style  : none;
  padding     : 10px 20px;
}

.navbar-header ul li {
  text-align  : center;
  padding     : 10px 10px;
}

.navbar-header ul li a {
  color : #555;
}

.navbar-header ul li a:hover {
  text-decoration : none;
}

/* <HOME/> */
.blue-cloud-bg {
  background-image  : url('../img/background.jpg');
}

.inverted-cloud {
  background-image  : url('../img/inverted-cloud.jpg');
}
  
.cloud-to-right {
  animation : cloud-to-right 50s linear infinite alternate;
  position  : absolute;
}

.cloud-to-left {
  animation : cloud-to-left 50s linear infinite alternate;
  position  : absolute;
}

.goto-container {
  position  : relative;
  top       : 20px;
}

.arrow-down {
  position  : relative;
}

.finger-up {
  animation : up-down 1s linear infinite alternate;
  position  : relative;
  top       : 90px;
}

.cloud1 {
  z-index : 2;
  top     : 400px;
  left    : 300px;
}

.cloud2 {
  animation-duration  : 30s;
  z-index             : 2;
  top                 : 380px;
  left                : 100px;
}

.cloud3 {
  animation-duration  : 15s;
  right               : 500px;
  z-index             : 2;
  top                 : 400px;
}

.cloud4 {
  animation-duration  : 30s;
  right               : 300px;
  z-index             : 2;
  top                 : 540px;
}

.section-title {
  font-size : 100px;
  padding   : 0 20px;
  margin    : 0;
}

.section-subtitle {
  text-align  : right;
  max-width   : 350px;
  font-size   : 40px;
  display     : block;
}

.big-square-block {
  background-color: #fff;
  margin-bottom : 20px;
  text-align    : center;
  padding       : 60px; 
  width         : 100%;
  border        : solid 10px #000;

}

.big-square-block h3 {
  font-size : 3em;
}

.big-square-block h2 {
  font-size : 5em;
}

/* DOWEDO */

.big-rectangle-block {
  background-color  : #fff;
  padding           : 30px;
  border            : 8px solid #000;
  width             : 100%;
}

.big-rectangle-block h4 {
  font-family : 'GillSans';
  margin-top  : 10px;
  font-size   : 1em;
}

.rectangle-item {
  text-align  : center;
  flex-basis  : 33%;
  flex-grow   : 1;
  margin      : 30px 0 0 0;
}

.flex-25 {
  flex-basis  : 25%;
}

.side-cloud {
  background-image  : url('../img/what.jpg');
}

.shadow-img {
  top: -80px;
  left: 20%;
}

/* HAVEWEDONE */
.projects {
  position: relative;
}

.projects .odd-bg-blue .square:nth-child(odd) {
  background-color: #3DC6E6;
}

.projects .even-bg-blue .square:nth-child(even) {
  background-color: #3DC6E6;
}

.projects .odd-bg-blue .square:nth-child(2) {
  background-image: url('../img/caribe.jpg');
}

.projects .odd-bg-blue .square:nth-child(4) {
  background-image: url('../img/pool-patio.jpg');
}

.projects .even-bg-blue .square:nth-child(1) {
  background-image: url('../img/designer.jpg');
}

.projects .even-bg-blue .square:nth-child(3) {
  background-image: url('../img/camera.jpg');
}

/* .project-description {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 0;
  transition: all 1s ease;
  opacity: 0;
} */
.projectsMenu{
  background-position : center;
  padding-bottom      : 100px;
  padding-top         : 100px;
  text-align          : center;
  height              : 300px;
  width               : 100%; 
  background-color: #3DC6E6;
}


.projects .square a {
  color : #fff;
  text-decoration : none;
}

.underline {
  width: 0;
  height: 1px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #fff;
  display: block;
}

.projects a:hover .underline {
  width: 50px;
}

.square {
  background-position : center;
  padding-bottom      : 100px;
  padding-top         : 100px;
  text-align          : center;
  height              : 300px;
  color               : #fff;
}

.project-squares {
  -webkit-transition  : all .5s ease-in-out;
  -moz-transition     : all .5s ease-in-out;
  transition          : all .5s ease-in-out;
  filter              : grayscale(100%);
  
}

.project-squares:hover {
  filter  : grayscale(0);
}

.hidden-menu {
  transform: translateY(145px);
  transition: all 1s ease;
}

/* CLIENTS */

.img-home-patio {
  background-image: url('../img/home-patio.png');
}

.img-las-brisas {
  background-image: url('../img/las-brisas.png');
}

.img-homeBranding {
  background-image: url('../img/homepatioimage.png');
}

.client-popper {
  display: none;
}

#clients .slick-slider .slick-slide {
  padding: 0 50px;
}

#clients::after {
  content: '';
  display: block;
  height: 100px;
}

/* WHO */

#who .slick-slider .slick-dots {
  background-color  : #3DC6E6;
  border-radius     : 50px 0 0 50px;
  text-align        : center;
  max-width         : 300px;
  display           : block;
  padding           : 10px 0 10px 0;
  z-index           : 99;
  bottom            : 20px;
  right             : 0;
}

#who .slick-slider .slick-dots li {
  height  : 50px;
  width   : 50px;
}

.face1 {
background-image  : url('../img/face1.png');
}

.face2 {
 background-image : url('../img/face1.png');
}

.face3 {
 background-image : url('../img/face1.png');
}

.face4 {
  background-image  : url('../img/face1.png');
}

.person__custom-text {
  max-width : 500px;
  font-size: 13x;
  position  : relative;
  margin    : 0 0 0 650px;
  color     : #fff;
}
.person__custom-textCustom {
  max-width : 600px;
  font-size: 13px;
  position  : relative;
  margin    : 0 0 0 650px;
  color     : #fff;
  padding-left: 7%;
}

.mleft-40per {
  margin-left : 40%;
}

/* CONTACT */

#contact {
  position  : relative;
}

.contact-form {
  max-width : 600px;
  margin    : 200px 0;
}

.contact-form input, textarea {
  margin  : 15px 0;
}

.world-img-container {
  max-width : 500px;
  position  : absolute;
  left      : -200px;
  top       : 300px;
}

.moon-img-container {
  max-width : 100px;
  position  : absolute;
  left      : 300px;
  top       : 300px;
}

.btn-submit {
  background-color  : #5dadd3;
  border-radius     : 0;
  max-width         : 100%;
  padding           : 8px 10px;
  width             : 180px;
  color             : #fff;
}

.cloud-turtle-container {
  position  : absolute;
  width     : 500px;
  left      : 300px;
  top       : 70%;

}

.contact-cloud {
  position  : absolute;
  width     : 370px;
}

.contact-turtle {
  position  : absolute;
  width     : 260px;
  left      : 50px;
  top       : -100px;
}

.cloud-container {
  position  : absolute;
  z-index   : -1;
  margin    : 0;
  left      : 0;
  top       : 0;
}

@keyframes cloud-to-right {
  0% { transform    : translate3d(0,0,0); }
  100% { transform  : translate3d(500px, 0, 0); }
}

@keyframes cloud-to-left {
  0% { transform  : translate3d(0,0,0); }
  100% { transform  : translate3d(-200px, 0, 0); }
}

@keyframes up-down {
  100% { top  : 80px; }
}

.slick-dots li button {
  background-image  : url('../img/magnifier.png');
  overflow          : hidden;
  /* more CSS */
}

@media screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .slide1 {
    background-image  : url("../img/my job response.jpg");
  }

  .slide2 {
    background-image  : url("../img/jorge soto.png");
  }

  .slide3 {
    background-image  : url("../img/mari carmen response.jpg");
  }

  .slide4 {
    background-image  : url("../img/francisco rodriguez.png");
  }


  .slider-bg-img {
    background-position: 45%;
    height: 400px;
  }

  .content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

  .person {
    display: none;
  }

  #who .slick-slider .slick-dots {
    max-width: 70px;
  }
  
  #who .slick-slider .slick-dots li {
    width: 50px;
    height: 50px;
  }

  #clients .slick-slider .slick-slide {
    padding: 0;
  }




  #who .person__custom-text {
   max-width : 500px;
  font-size: 16px;
  position  : relative;
  margin    : 0 0 0 0;
  color     : #fff;
  }

  div.about {
    height: 100px;  
      
}

.clientsImg {
    height: 100px; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}


.cuadro-azul{
  width: 1841px;
  height: 600px;

}

}